<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean id="weatherDAO" class="weather.DAO.Weather.JDBCWeatherDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="citiesDAO" class="weather.DAO.Cities.JDBCCitiesDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <bean id="weatherTypesDAO" class="weather.DAO.WeatherTypes.JDBCWeatherTypesDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>
</beans>